<div class="container cart-container">
  <div class="row">
    <!-- Left Side: Cart Data -->
    <div class="col-md-7 cart-summary">
      <h4>My Cart</h4>
      <table class="table">
        <thead>
          <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Subtotal</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cartItems; let i = index">
            <td>
              <div class="product-details">
                <img [src]="'http://localhost:5260/' + item.imagePath" alt="{{ item.productName }}" class="product-image" />
                <div>
                  <p>{{ item.productName }}</p>
                </div>
              </div>
            </td>
            <td class="quantity-and-subtotal">
              <div class="quantity-controls">
                <button (click)="decreaseQuantity(i)" class="btn-quantity">-</button>
                {{ item.quantity }}
                <button (click)="increaseQuantity(i)" class="btn-quantity">+</button>
              </div>
            </td>
            <td>
              <div class="subtotal">
                {{ (item.price * item.quantity) | currency: 'PKR' }}
              </div>
            </td>
            <td>
              <button (click)="removeItem(i)" class="btn-remove">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>

      <hr class="divider-line">

      <button (click)="goBackToShopping()" class="btn-continue-shopping">Continue Shopping</button>
    </div>

    <div class="col-md-1 vertical-divider"></div>

    <!-- Right Side: Order Form -->
    <div class="col-md-4 order-summary" *ngIf="cartItems.length > 0">
      <h4>Price Breakdown</h4>
      <div class="summary-details">
        <p>Subtotal ({{ cartItems.length }} items): <strong>{{ grandTotal | currency: 'PKR' }}</strong></p>
      </div>
      <button (click)="openCheckoutPopup(cartItems)" class="btn-proceed-checkout">Proceed to Checkout</button>
      <div class="secure-payment">
        <p><i class="fa fa-lock"></i> Thank you for shopping</p>
      </div>
    </div>

  </div>
</div>


<footer class="footer">
  <p>&copy; 2024 Zubair Trader. All rights reserved.</p>
</footer>
