/** custom CSS */
.logBackground {
  background-color: #bec1c7 !important;
}
.bg-success-dark-2 {
  background: #255c00 !important;
}

.bg-dark-light-blue-1 {
  background: #4d648c !important;
}
.bg-dark-light-blue-2 {
  background: #d0e0f9 !important;
}
.margin-top-22px {
  margin-top: 22px !important;
}
.margin-top-50px-ve {
  margin-top: -50px !important;
}
.font-size-50px {
  font-size:50px !important;
}
.font-size-45px {
  font-size: 45px !important;
}
.font-size-25px {
  font-size: 25px !important;
}
.font-size-30px {
  font-size: 25px !important;
}
.text-bold-800 {
font-weight:800 !important;
}
.text-bold-900 {
  font-weight: 900 !important;
}
.text-decoration-underline {
  text-decoration: underline !important;
}
.dark-green {
  color: #4ca250 !important
}
.dark-blue {
color:  #205081 !important;
}
.text-gray-custom {
  color: #f7f7f7 !important;
}
.bg-yellow-dark {
  background-color: #ffc000 !important;
}
.bg-gray-custom {
  background-color: #f7f7f7 !important;
}
.bg-yellow-green-custom {
  background: #CDDC39 !important;
}
.reset-pass-text {font-family: unset;
    text-align: justify;
    color: brown;
}
.reset-pass-text-info {
  font-family: unset;
  text-align: justify;
  color: brown;
  font-size:smaller;
}
.vertical-middle{
  vertical-align:middle;
}
.width-150px{
  min-width:150px !important;
}
.module-pop-icon img {
  width: 78px !important;
}
.width-80px{
  width:80px !important;
}
.width-15px{
  width:15px;
}
.width-30px {
  width: 30px;
}
.no-padding-R {
  padding-right: 0px !important;
}
.no-padding-B {
  padding-bottom: 0px !important;
}
.no-padding-T {
  padding-top: 0px !important;
}
.no-padding-L {
  padding-left: 0px !important;
}
.no-padding-LR {
  padding-right: 0px !important;
  padding-left: 0px !important;
}
th {
  position: sticky !important;
  top: 0 !important;
}
.fixed-header {
  position: sticky !important;
  top: 0 !important;
}
.no-margin-LR {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.margin-2px {

margin:2px !important;
}
.margin-10px {
  margin: 10px !important;
}
.padding-10px {
  margin: 10px !important;
}
.yellow-black-custom-button {
  background: yellow;
  color: #383333 !important;
  font-weight: 700;
}

.no-border-radious {
  border-radius: 0px !important;
}
.border-2px-solid {
border:2px solid !important;
}
.navy-color {
  color: navy !important;
}

.vertical-line-right {
  border-right: 2px solid green !important;
  height: auto;
}

.horizontal-line-bottom {
  border-bottom: 2px solid green !important;
  height: auto;
  display: inline-block;
  margin-bottom: 0;
  text-align-last: left;
  line-height: -5px !important;
}
.bg-form-field .mat-form-field-infix {
  background: white !important;
}

.signUpCardBackground {
  background: #f5f5f5 !important;
}

.green-color {
  color: #11b862 !important;
}

.green-background {
  background-color: #11b862 !important;
}


/*HCE Login Start */
.loginPageList {
  font-size: 17px;
  font-weight: 600;
}

.loginPageError {
  border-color: #FA0505 !important;
  background-color: #fb4b4b !important;
  color: white !important;
}

.login-warning-icon {
  font-size: 18;
}
@media (min-width: 1400px) {
  .hceLoginRow {
    margin: 0% 6% 0% 6% !important;
  }
}
/*HCE Login End */

.errorcustom {
  border: 1px solid #e28688;
  background: #f2dede;
  border-radius: 8px;
  padding: 15px 15px 15px 0px;
  height: auto;
  min-height: 65px;
  text-align: center;
  color: #cc1418;
  font-weight: 600;
}

.warning-icon {
  color: #cd4b18;
  font-size: 28px;
}

.error-message {
  /*position: absolute;*/
  width: 40px;
  height: 80px;
}

.error {
  border-color: #d43f3a !important;
  height: 95px;
  min-height: 80px;
}

.error-inner {
  float: left !important;
  text-align: center !important;
  vertical-align: central !important;
  width: 50px !important;
  height: 100% !important;
}

  .error-inner i {
    margin-top: 70% !important;
  }

.error-border-around {
  border: 1px solid #d43f3a;
}
.custome-popup-size{
  min-width:60% !important;
  min-height:80% !important;
}
.fieldsetClass {
  padding: 10px !important;
  border: 1.5px #b4c5d4 double;
  display: block;
}

.legendClass {
  width: auto !important;
}

.fieldsetRound {
  padding: 5px !important;
  border: 1px solid yellowgreen;
  border-radius: 5px;
}

.legendRound {
  width: auto !important;
  font-size: small;
  color: midnightblue;
}

.topgap {
  /*margin-top:60px !important;
padding-top:60px;*/
  top: 0 !important;
  bottom: 0 !important;
  /*height: 100% !important;*/
  position: absolute !important;
}

.forgot-password a {
  color: white !important;
}

/*Welcome Success Message*/
.Successcustom {
  border: 1px solid #a3de83;
  background: #e2f2de;
  border-radius: 8px;
  padding: 15px 15px 15px 0px;
  height: auto;
  min-height: 65px;
  text-align: center;
  color: #4ad138;
  font-weight: 600;
}

.Success-icon {
  color: #18cd9d;
  font-size: 28px;
}

.Report-icon-Size {
  font-size: 20px;
}

.Success-color {
  color: #18cd9d;
}

.full-width-bg {
  /*background: #f5f9f5;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;*/
  background-color: #034ea2;
  /*background-image: url("../../assets/images/loginBackground.png");*/
  background-repeat: repeat;
  overflow: auto !important;
  max-height: 100% !important;
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.width-30prc {
  width: 30% !important;
}

.footer {
  position: fixed !important;
  bottom: 0px !important;
 
}

body, html {
  width: 100%;
  height: 100% !important;
  padding: 0;
  margin: 0;
}

.width-100-pr {
  width: 100%;
}

input::-webkit-input-placeholder {
  font-size: 14px !important;
  font-weight: 700;
  line-height: 3;
}

.customlabel {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.view-btn-color {
  color: #00b9f5 !important;
}

.customInput {
  margin-top: 6px;
  width: 100%;
  padding: 9px 8px 11px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.wrapper {
  min-height: 100% !important;
}
.wrap-text {
  white-space: normal;
  word-wrap: break-word;
}
.mat-tab-label {
  max-height: 36px !important;
  padding: 0 20px !important;
  min-width: 20px !important;
}

.mat-tab-label-active {
  color: #ffffff !important;
  background-color: #00a651 !important;
  border-color: #ddd #ddd transparent !important;
}

.mat-tab-label-focus {
  color: #ffffff !important;
  background-color: #00a651 !important;
  border-color: #ddd #ddd transparent !important;
}

.padding-25px {

padding:25px !important;
}
.padding-15px {
  padding: 15px !important;
}
.padding-14px {
  padding: 14px !important;
}
.padding-4px {
  padding:4px !important;
}
.padding-top-35 {
  padding-top: 35px !important;
}
.padding-5pr {
  padding: 5% !important;
}
.padding-5px {
  padding: 5px !important;
}
.padding-2pr {
  padding: 2% !important;
}
.padding-top-20 {
  padding-top: 20px !important;
}
.padding-top-15 {
  padding-top: 15px !important;
}
.padding-top-10 {
  padding-top: 10px !important;
}

.padding-top-100 {
  padding-top: 100px !important;
}
.padding-10pr {
  padding: 10% !important;
}
.padding-top-5pr {
  padding-top: 5% !important;
}
.padding-top-10pr {
  padding-top: 10% !important;
}

.card-focus {
  box-shadow: 0 0 25px -5px #9e9c9e !important;
}

.margin-left-10px {
  margin-left: 10px !important;
}

.margin-right-10px {
  margin-right: 10px !important;
}

.margin-right-0px {
  margin-right: 5px !important;
}
.margin-right-60px {
  margin-right: 60px !important;
}
.margin-left-0px {
  margin-left: 0px !important;
}

.dashboard-product1 {
  background-color: #fff;
  padding-top: 5px;
  padding-bottom: 15px;
  color: #777;
  margin-bottom: 5px !important;
}

.margin-bottom-0 {
  margin-bottom: 0px !important;
}

.margin-bottom-10 {
  margin-bottom: 10px !important;
}

.margin-top-0 {
  margin-top: 0px !important;
}
.margin-top-4pr {
  margin-top: 4% !important;
}
.margin-top-ve-16 {
  margin-top: -16px !important;
}

.border-solidblack-1 {
  border: 1px solid white;
}
.border-bottom-blue-6px {
  border-bottom: 6px #005ba7 solid !important;
}


.mat-accordion {
  margin-bottom: 20px !important;
}

.no-padding-LR {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.mat-expansion-panel-header-title {
  color: white !important;
}

.margin-bottom-20 {
  margin-bottom: 20px !important;
}

.margin-bottom-30 {
  margin-bottom: 30px !important;
}

.margin-bottom-5 {
  margin-bottom: 5px !important;
}


.pull-right {
  float: right !important;
}


.padding-bottom-100 {
  padding-bottom: 100px !important;
}

.padding-bottom-20 {
  padding-bottom: 20px !important;
}
.padding-bottom-25 {
  padding-bottom: 25px !important;
}

.padding-bottom-30 {
  padding-bottom: 30px !important;
}

.padding-bottom-40 {
  padding-bottom: 40px !important;
}
.padding-bottom-50 {
  padding-bottom: 50px !important;
}

.padding-bottom-5 {
  padding-bottom: 5px !important;
}
.padding-bottom-10 {
  padding-bottom: 10px !important;
}

.height-100pr {
  height: 100% !important;
}
/*.height-105pr {
  height: 105% !important;
}*/
.width47pr {
  width: 47% !important;
}

.width23pr {
  width: 23% !important;
}

.width-200 {
  width: 200px !important;
}

.width-400 {
  width: 400px !important;
}

.margin-top-7pr {
  margin-top: 7% !important;
}

.margin-top-3pr {
  margin-top: 3% !important;
}

.margin-top-12pr {
  margin-top: 12% !important;
}

.margin-top-10pr {
  margin-top: 10% !important;
}
.margin-top-5pr {
  margin-top: 5% !important;
}

.margin-top-20px {
  margin-top: 20px !important;
}
.margin-top-10px {
  margin-top: 10px !important;
}
.margin-top-20pr {
  margin-top: 20% !important;
}
.margin-top-30px {
  margin-top: 30px !important;
}
.margin-top-50px {
  margin-top: 50px !important;
}
.margin-top-35px {
  margin-top: 52px !important;
}

.loading-spinner {
  position: absolute;
  top: 40% !important;
  left: 50% !important;
}

.dtBox {
  background-color:white;
  opacity: 1;
  width: 100%;
  height: 1000px !important;
  overflow: hidden;
  z-index: 100000;
  position: absolute;
  /*display: none;*/
}
.dtBoxLoader {
  background-color: white;
  opacity: 1;
  width: 100%;
  height: 1000px !important;
  overflow: hidden;
  z-index: 100000;
  position: absolute;
  display: none;
}

.page-footer {
  border-top: 4px solid #f1f1f1;
  right: 0;
  height: 10px !important;
  bottom: 0;
  left: 0;
  padding: 1rem;
  margin-bottom: 0px;
  margin-top: -10px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: white !important;
  height: 25px !important;
  font-size: smaller !important;
  z-index:100;
}

.margin-left-3px {
  margin-left: 3px !important
}

.padding-top-56px {
  padding-top: 58px !important
}

.padding-top-5px {
  padding-top: 5px !important
}
.padding-top-60px {
  padding-top: 60px !important
}
.Pointer {
  cursor: pointer !important;
}

.dropdown li:hover {
  background-color: rgba(0, 0, 0, .075);
}

@media (max-width:800px) {
  .sitename {
    font-size: 1.15rem !important;
    padding-top: 15px !important;
  }
}

@media (max-width:850px) {
  login-card {
    width: 90%;
  }
}

@media (max-width: 950px) and (min-width: 750px) {


  .sitename {
    font-size: 1.15rem !important;
    padding-top: 15px !important;
  }
}
/** Loader*/
.page-loader {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  z-index: 9999999;
  background: #000;
  transition: .3s all ease;
}

  .page-loader.loaded {
    opacity: 0;
    visibility: hidden;
    z-index: -1;
  }

  .page-loader.ending {
    display: none;
  }

  .page-loader .page-loader-body {
    margin-top: -4%;
    text-align: center;
  }

    .page-loader .page-loader-body > * + * {
      margin-top: 30px;
    }

.ie-10 .page-loader .page-loader-body:before,
.ie-11 .page-loader .page-loader-body:before {
  color: #0796c6;
  background: none;
}

[data-x-mode="true"] .page-loader {
  display: none !important;
}

.preloader-wrapper {
  position: relative;
  height: 100px;
  width: 100px;
}

.spinner-layer {
  position: absolute;
}

  .spinner-layer:nth-child(1) {
    top: 5px;
    left: 0;
    animation: infinite-rotate 1.8s infinite linear;
  }

  .spinner-layer:nth-child(2) {
    top: 14px;
    left: 9px;
    animation: infinite-rotate 1.4s infinite linear;
  }

  .spinner-layer:nth-child(3) {
    top: 23px;
    left: 18px;
    animation: infinite-rotate 0.9s infinite linear;
  }

.spinner {
  position: relative;
}

.height-40px {
  height: 40px !important;
}

.spinner-big {
  height: 91px;
  width: 91px;
  border: 5px solid #0796c6;
  border-top-color: transparent;
  transform: rotate(-35deg);
  border-radius: 50%;
}

.spinner-medium {
  width: 72px;
  height: 72px;
  border: 4px solid #50e590;
  border-right-color: transparent;
  transform: rotate(-50deg);
  border-radius: 50%;
}

.spinner-small {
  width: 54px;
  height: 54px;
  border: 3px solid #e1e1e1;
  border-left-color: transparent;
  transform: rotate(-50deg);
  border-radius: 50%;
}

@-webkit-keyframes infinite-rotate {
  form {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes infinite-rotate {
  form {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/***/
.mat-tab-label {
  opacity: 1 !important
}

.card-header {
  border-bottom: none !important;
}


.margin-left-5 {
  margin-left: 5px !important;
}

.margin-left-15 {
  margin-left: 15px !important;
}

.margin-right-15 {
  margin-right: 15px;
}

.margin-right-5px {
  margin-right: 5px !important;
}

.padding-left-15 {
  padding-left: 15px;
}
.padding-left-5px {
  padding-left: 5px !important;
}
.border-right-gray{
  border-right:solid 1px gray !important;
}
.padding-right-15 {
  padding-right: 15px;
}

.padding-right-20 {
  padding-right: 20px;
}

.padding-left-50 {
  padding-left: 50px;
}
.padding-left-5px {
  padding-left: 5px !important;
}
.padding-left-10px {
  padding-left: 10px !important;
}
.padding-left-100 {
  padding-left: 100px;
}
.padding-right-5px {
  padding-right: 5px !important;
}

.card-header {
  padding: 20px,20px,20px,1px;
  /*padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 1px;*/
  background-color: transparent;
  color: #757575;
}

.card:hover {
  box-shadow: 0 0 25px -5px #9e9c9e;
}

.card-block::after {
  content: "";
  display: table;
  clear: both;
}

html, body {
  background-color: #ffffff !important;
}



.main-menu.menu-light .navigation > li.open, .main-menu.menu-light .navigation > li.active > a {
  border-left: none;
}

.main-menu.menu-light .navigation > li {
  border-left: none;
}



@media(min-width:767px) {
  .navbar-container {
    border-bottom-left-radius: 25px;
  }
}

@media(max-width:767px) {
  .newcontainer {
    margin-left: 0px !important;
  }

  .cutomtopMargin-loginPage {
    margin-top: -142px !important;
  }
}

.mat-dialog-actions {
  display: block !important;
}

.mat-dialog-container {
  max-height: 96vh !important;
  overflow: scroll;
}
/*.text-center {
  text-align: center;
}*/

/* Custom verticale tab */
.cutomtab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  /*height:100%;*/
  width: 15%;
}

  /* Style the buttons inside the tab */
  .cutomtab button {
    margin-top: 2px;
    display: block;
    background-color: inherit;
    color: black;
    padding: 11px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    border: 1px solid #f8f8fb;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  }

    /* Change background color of buttons on hover */
    .cutomtab button:hover {
      background: linear-gradient(90deg, #3c763d 3%, #f8f8fb 0%);
    }
/* Style the tab content */
.cutomTabContent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 85%;
  border-left: none;
  height: auto;
}
/* Create an active/current "tab button" class */
.activeTab {
  background: linear-gradient(90deg, #3c763d 3%, #f8f8fb 0%);
  background-color: #ddd !important;
  /*border-bottom: 5px solid blue !important;*/
}

.width-10px {
  width: 10px !important;
}
.width-361px {
  width: 361px !important;
}
   
.margin-top-5px {
  margin-top: 5px !important;
}
.margin-top-5px-ve {
  margin-top: -5px !important;
}
.margin-right-5px {
  margin-right: 5px !important;
}

.margin-left-5px {
  margin-left: 5px !important;
}



.btn {
  text-transform: none !important;
}

.btn-primary {
  border-color: #206fe4 !important
}

  .btn-primary:focus, .btn-primary:active {
    background-color: #015eae !important;
    border-color: #015eae !important;
  }
  .btn-primary:hover {
    background-color: #6390d2 !important;
    border-color: #015eae !important;
  }

.main-header {
  padding: 0px 0 0px 20px !important;
}

.panel-blue {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}



.header-bottom_border {
  border-bottom: 4px solid #00a651 !important;
  padding-bottom: 3px;
}

.width-auto {
  width: auto !important;
}

.userLabel {
  color: white !important;
}
/*.cdk-global-overlay-wrapper, .cdk-overlay-container {
  z-index: 99999 !important;
}*/

.mat-horizontal-content-container {
  overflow: hidden;
  padding: 0 4px 4px 0px !important;
}

.mat-horizontal-stepper-header {
  height: 30px !important;
}

.mat-horizontal-stepper-header-container {
  padding-bottom: 20px;
}

.custom-stepper > .mat-horizontal-stepper-header-container > .mat-horizontal-stepper-header {
  padding: 10px;
}

  .custom-stepper > .mat-horizontal-stepper-header-container > .mat-horizontal-stepper-header > .mat-step-label {
    font-size: 15px;
  }

  .custom-stepper > .mat-horizontal-stepper-header-container > .mat-horizontal-stepper-header > .mat-step-label-selected {
    color: white !important;
  }

.color-calculate {
  color: #673ab7;
}
/*.active-stepper-background {
background:green;
}*/
.mat-vertical-stepper-header {
  padding-top: 5px !important;
  padding-left: 0px !important;
  margin-left: -10px !important
}

.mat-vertical-content-container {
  margin-left: 0px !important
}

.flex-right {
  display: inline-block !important;
}

.black {
  color: #000000 !important;
}

.notification-text {
  text-transform: initial !important;
  text-align: left !important;
}

.custom-btn-group {
  text-align: right;
}

/*.mat-menu-content a:first-child {
  margin-top: 60px !important;
}*/

.mat-step-header .mat-step-label.mat-step-label-active {
  width: 100% !important;
}

.popover {
  max-width: 600px !important;
  padding-bottom: 15px;
  box-shadow: 0 0 25px -5px #9e9c9e !important;
  border: 1px solid rgba(0, 0, 0, 0.06) !important;
}

.Loading-text {
  position: absolute;
  top: 100px;
  color: white;
  min-width: 200px;
  left: -50px;
}

.bg-offwhite-6 {
  background-color: #F8F8F8 !important;
  color: black !important;
  border-top: solid 1px #B0BEC5 !important;
  border-bottom: solid 1px #B0BEC5 !important;
}

.bg-gray-6 {
  background-color: #DCDCDC !important;
  border-color: #DCDCDC !important;
  color: black !important;
}

.height-30px {
  height: 30px !important;
}

.bg-offwhite-6 .mat-expansion-indicator::after {
  color: black !important;
}

.bg-gray-6 .mat-expansion-indicator::after {
  color: black !important;
}

.bulletlist {
  padding-left: 92px;
  padding-top: 15px;
  list-style: circle !important;
}

  .bulletlist li {
    display: list-item !important;
  }

.mat-tab-body-content {
  overflow: hidden !important;
}

.breadcrumb {
  text-transform: none !important;
}

.no-padding-R {
  padding-right: 0px;
}

@media only screen and (max-width: 579px) {
  .cutomtab {
    width: 100%;
  }

  .cutomTabContent {
    width: 100%;
  }
}

.table > thead > tr > th {
  vertical-align: middle !important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #00a651;
}
.min-height-250-px{
  min-height:250px !important
}
.custom-error {
  margin-top: -16px;
  font-size: 11px;
}

.no-scroll {
  overflow: hidden !important;
}
/*.mat-dialog-content {
  max-height: unset;
   overflow: unset !important ;
}*/
.margin-left-20px {
  margin-left: 20px !important;
}

.margin-left-50px {
  margin-left: 50px !important;
}

.fixed-col {
  left: 0;
  position: absolute;
  top: auto;
}
.margin-top-45px-ve{
  margin-top:-45px !important;
}
.table-scroll-on {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}
.scroll-table {
  overflow: scroll !important;
  max-height: 400px !important;
}
.scroll-height-1000px {
  overflow: scroll !important;
  max-height: 1000px !important;
}

.width-280px {
  min-width: 280px !important
}

  .tb-bg {
  }

  .tb-bg1 {
    padding: 10px;
    background-color: #f8f8fb;
  }



  .table-scroll {
    display: block;
    overflow-x: auto;
  }

  .ui-state-default th {
    width: 20% !important;
  }
  /*.ui-treetable-row td {
  width: 20% !important;
}*/
  .large-desc {
    font-size: 70px !important;
  }

  .incomplete-plan {
    background-color: #FF3030;
    color: #FFFFFF;
    padding: 28px;
    text-align: center;
    height: 170px;
  }

  .close-plan {
    background-color: #FFB90F;
    color: #FFFFFF;
    padding: 28px;
    text-align: center;
    height: 170px;
  }

  .cancel-plan {
    background-color: #a8b4d3 !important;
    color: #FFFFFF;
    padding: 28px;
    text-align: center;
    height: 170px
  }

  .complete-plan {
    background-color: #99CC32;
    color: #FFFFFF;
    padding: 28px;
    text-align: center;
    height: 170px;
  }

  .panel-heading2 {
    /* color: white !important; */
    color: black !important;
    background-color: white !important;
    border-color: #7e8fbe !important;
    margin-left: 0px;
    margin-right: 0px;
    box-shadow: 0 0 0 0 #9e9c9e !important;
    border-bottom: 5px solid #C4C118 !important;
    font-size: 18px;
    /*padding: 0px !important;*/
  }


  .margin-top-18px-ve {
    margin-top: -18px !important;
  }
.margin-top-20px-ve {
  margin-top: -20px !important;
}

.margin-top-30px-ve {
  margin-top: -30px !important;
}

.margin-top-5px {
  margin-top: 5px !important;
}

  /* Custom CSS END*/
  .padding-left-25px {
    padding-left: 25px;
  }

  .padding-left-15-pr {
    padding-left: 15%;
  }

  .padding-top-5 {
    padding-top: 5px;
  }
.height-110px {
  height: 110px !important
}
.home-page-icon i {
  /*min-width: 170px !important;
  background-size: 170px 1440px !important;*/
  height: 110px !important;
  /*width: 50% !important;*/
  /*background-size: 50% !important;*/
  /*margin-left: 25% !important;*/
  /*height: 110px !important;
  width: 100% !important;*/
}

  .module-side-icon {
    background-image: url('../images/all-portal-icons.png');
    -webkit-background-size: 38px 512px;
    background-size: 38px 512px;
    display: block;
    height: 40px;
    width: 38px;
    margin-top: -8px;
  }

  .module-pop-icon i {
    /*background-image: url('../images/all-portal-icons.png');*/
    /*-webkit-background-size: 40px 512px;
    background-size: 40px 512px;*/
    /*display: block;*/
    height: 40px;
    /*margin-left:25px !important;*/
    /*padding-left: 25px;*/
  /*padding-right: 25px;*/
  /*margin-top: 10px;
  margin-bottom: 10px;*/
  /*margin-left: 25px;*/
  width: 40px;
}
    .module-pop-icon i img{
      margin-top:2px !important;
      max-width:40px!important;

    }
.home-page-icon i img {
  margin-top: 20px !important;
  min-width: 64px !important;
  max-width: 99% !important;
  /*margin-left:25%;*/
}
    /*implementation-cell Logo*/
    .implementation-cell-logo {
      background-position: 0px 0px;
    }

  .home-page-icon .implementation-cell-logo {
    background-position: 0px 0px;
  }
  /*communication Logo*/
  .communication-logo {
    background-position: 0px -45px;
  }

.home-page-icon .communication-logo {

  background-position: 0px -130px;
}
  /*pa Logo*/
  .pa-logo {
    background-position: 0px -90px;
  }

  .home-page-icon .pa-logo {
    background-position: 0px -250px;
  }
  /*web-portal Logo*/

  .web-portal-logo {
    background-position: 0px -135px;
  }

  .home-page-icon .web-portal-logo {
    background-position: 0px -375px;
  }
  /*Inspection Logo*/
  .inspection-logo {
    background-position: 0px -170px;
  }

  .home-page-icon .inspection-logo {
    background-position: 0px -490px;
  }
  /*AQC Logo*/
  .aqc-logo {
    background-position: 0px -215px;
  }

  .home-page-icon .aqc-logo {
    background-position: 0px -610px;
  }

  /*legal Logo*/
  .legal-logo {
    background-position: 0px -38px;
  }

.home-page-icon .legal-logo {
  background-position: 0px 118px;
}
  /*dashboard Logo*/
  .dashboard-logo {
    background-position: 0px 215px;
  }

  .home-page-icon .dashboard-logo {
    background-position: 0px 590px;
  }
  /*admin-panel Logo*/
  .admin-panel-logo {
    background-position: 0px 170px;
  }

  .home-page-icon .admin-panel-logo {
    background-position: 0px 470px;
  }
  /*complaint Logo*/
  .complaint-logo {
    background-position: 0px 125px;
  }

  .home-page-icon .complaint-logo {
    background-position: 0px 350px;
  }
  /*cg Logo*/
  .cg-logo {
    background-position: 0px 80px;
  }

  .home-page-icon .cg-logo {
    background-position: 0px 225px;
  }
  /*licensing Logo*/
  .licensing-logo {
    background-position: 0px 45px;
  }
/*Hr Logo*/
.hr-logo {
  background-position: 0px 125px;
}

.home-page-icon .hr-logo {
  background-position: 0px 350px;
}
  .home-page-icon .licensing-logo {
    background-position: 0px 110px;
  }
.home-page-icon .cim-logo img {
  max-height: 74px !important;
  max-width: 30px !important;
}

/*Incedent Managment Logo*/
.im-logo {
  background-position: 0px -170px;
}
/*//////////////////////////////////////////////////////Logo end*/
.table-scroll_2 {
  max-height: 450px;
  overflow-y: scroll;
}
.multiselect-dropdown .dropdown-btn .selected-item{
  margin-top:2px;
}
  .multiselect-dropdown .dropdown-btn .selected-item a {
    background-color: red !important;
    cursor: pointer;
    padding-left: 4px;
    padding-right:4px;
    padding-top:0px !important;
    border:solid 1px red;
  }
  /**              */


  .min-height-450px{
    min-height:450px !important;
  }
  /** Fix First Column*/
.zui-table {
  border: none;
  border-right: solid 1px #DDEFEF;
  border-collapse: separate;
  border-spacing: 0;
  /*font: normal 13px Arial, sans-serif;*/
}

  .zui-table thead th {
    /*background-color: #DDEFEF;*/
    /*border: none;
    color: #336B6B;*/
    padding: 10px;
    text-align: left;
    /*text-shadow: 1px 1px 1px #fff;*/
    white-space: nowrap;
  }

  .zui-table tbody td {
    border-bottom: solid 1px #DDEFEF;
    /*color: #333;*/
    padding: 10px;
    /*text-shadow: 1px 1px 1px #fff;*/
    white-space: nowrap;
  }

.zui-wrapper {
  position: relative !important;
  max-height: 450px !important;
}

.zui-scroller {
  margin-left: 141px;
  overflow-x: scroll;
  overflow-y: visible;
  padding-bottom: 250px;
  width: 90%;
}

.zui-table .zui-sticky-col {
  border-left: solid 1px #DDEFEF;
  border-right: solid 1px #DDEFEF;
  left: 0;
  position: absolute !important;
  /*top: auto !important;*/
  width: 140px;
}
.zui-sticky-col:nth-child(even) {
  background-color: #dadada;
}

.zui-sticky-col:nth-child(odd) {
  background-color: #dadada;
}
/*//////////////////////////////////////////////////*/
.main-module-image{
  width:25% !important;
  margin-left:1%;
}

.center {
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 20px;
  position: relative;
}

.right {
  text-align: right !important;
  margin: auto;
  width: 50%;
  padding: 5px;
  position: relative;
}

.div-heading div {
  vertical-align: central;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 7px;
  border-left: solid 1px gray;
  background-color: #4F4688;
  color: white;
  font-weight: bold;
}

.region-div {
  background-color: #dadada;
}

.center-text-border {
  text-align: center;
  border-left: solid 1px gray;
}
/*.fixed-col:nth-child(odd) {
  background-color: #dadada !important;
}
.fixed-col:nth-child(even) {
  background-color: white !important;
}*/
.bold{
  font-weight:bold;
}
.padding-LR-10px{
  padding-left:10px !important;
  padding-right:10px !important;
}
.padding-LR-5px {
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.vertical-middle{
  vertical-align:middle !important;
  text-align:center !important;
}
.card-home{
  /*background-color:darkgray;*/
  box-shadow:none;
}
.chat .chat-body .chat-content p{
  color:white !important;
}
.chat-left .chat-body .chat-content p {
  color: black !important;
}
.font-size-16px{
  font-size:16px;
}
.margin-bottom-5-ve{
  margin-bottom:-5px !important;
}
.font-size-18px {
  font-size: 18px;
}
.font-size-20px {
  font-size: 20px;
}
.font-size-13px {
  font-size: 13px;
}
.margin-bottom-10-ve {
  margin-bottom: -10px !important;
}
.display-inline-flex {
  display: inline-flex !important;
}
.display-webkit-box {
  display: -webkit-box !important;
}
.line-height-09 {
  line-height: 0.9 !important;
}
.line-height-35px {
  line-height: 35px !important;
}
.HCE_Message {
  background-color: #fdf7f7;
}
.PHC_Message {
  
}
.border-bottom-msg {
  border-bottom: solid 1px #DDEFEF;
}
@font-face {
  font-family: Jameel Noori Nastaleeq1;
  src:url("Jameel_Noori_Nastaleeq.ttf");
}
.urdu-font{
  font-family:'Jameel Noori Nastaleeq1';
 
}
.urdu-font-input{
  height:40px;
  font-size:24px !important;
}
.urdu-font div div div span label{
  font-size:24px;
  height:40px;
}
.width-110px{
  width:110px !important;
}
.margin-left-20px-ve{
  margin-left:-20px
}
.margin-left-15px-ve {
  margin-left: -15px !important
}
.margin-right-15px-ve {
  margin-right: -15px !important
}
.SelectedRow {
  background: linear-gradient(90deg, #3c763d 0.5%, #2175f35c 0%);
}
.RequestBox {
  background: linear-gradient(90deg, #2175f35c 41.67%, White 0%);
}
.margin-top-30pr{
  margin-top:30%
}
.padding-top-bottom-20pr {
  padding-top: 20%;
  padding-bottom: 20%;
}
.padding-top-bottom-10pr {
  padding-top: 10%;
  padding-bottom: 10%;
}
.margin-left-30pr {
  margin-left: 30%
}
min-height-110px {
 
  min-height: 110px !important;
}
.bg-SignupTotal {
  background-color: #2175f35c;
}
bg-gray {
  background-color: #dadada !important
}
.min-width-200px{
  min-width:300px !important;
}
.InstrumentBox {
  background: linear-gradient(to bottom right, #fff 0, #fff 20%, #fff 54%, #fff 50%);
  color: white;
}

.dx-gridbase-container {
  margin-top: -45px !important;
  background: transparent !important;
}
.dx-datagrid-header-panel {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 8px;
  
}
  .dx-datagrid-header-panel .dx-toolbar{
    background-color:transparent !important;
  }
.bg-blue-custom {
  background-color: #1c6cab !important;
}

.bg-SlateGrey-custom {
  background-color: #708090 !important;
}

.bg-SeaGreen-custom {
  background-color: #48D1CC !important;
}

.text-align-right {
  text-align: right !important;
}

.text-align-left {
  text-align: left !important;
}
.theadcustoms-header:first-child > tr:first-child > th {
  color: white;
  background: #659EC7;
  padding-top: 5px;
  height: 37px;
}

.panel-heading3 {
  /* color: white !important; */
  color: black !important;
  background-color: white !important;
  border-color: #659EC7 !important;
  margin-left: 0px;
  margin-right: 0px;
  box-shadow: 0 0 0 0 #9e9c9e !important;
  border-bottom: 5px solid #C4C118 !important;
  font-size: 18px;
  padding: 0px !important;
}
.bg-red-custom {
  background-color: #b51b1b !important;
}

.cdk-overlay-pane.my-dialog {
  position: relative !important;
}

.close-dialog-btn.mat-button {
  position: absolute;
  top: -15px;
  right: -15px;
  height: 28px !important;
  width: 28px !important;
  padding-top: 0px !important;
  padding-right: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  /*padding: 5px;*/
  line-height: 14px;
  min-width: auto;
}
.close-dialog-btn .mat-button-wrapper {
  padding: 2px 0 !important;
}
.panel-heading3 {
  color: white !important;
  background-color: #015eae !important;
  border-color: #015eae !important;
  margin-left: 0px;
  margin-right: 0px;
  box-shadow: 0 0 25px -5px #9e9c9e !important;
  padding: 9px 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  min-height:40px !important;
}
.bg-light-green-custom {
  background: #caf1af !important;
}
.top-nav-heading {
  border-bottom: 4px solid #00a651;
  padding-bottom: 3px;
  
}
.font-size-6rem {
  font-size: 6rem !important;
}
.no-pointer{
  cursor:default !important;
}
.no-pointer:hover {
  cursor: default !important;
}
.min-width-450px {
  min-width: 450px !important;
}
.height-87px {
  height: 87px !important
}
.height-410px {
  height: 410px !important
}
.padding-bottom-5px{
    padding-bottom:5px !important;
}
.margin-top-10px-ve{
    margin-top:-10px !important;
}
.margin-top-55px{
    margin-top:55px !important;
}
.dx-data-row{
    cursor:pointer !important;
}
.not-reconcile{
    background-color:red !important;
}
.file-input-button {
  box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
  background-color: #0062cc !important;
  color:white !important;
}
.child-tab .mat-tab-group .mat-tab-header .mat-tab-label-container .mat-tab-list .mat-tab-labels .mat-tab-label-active {
  background-color: #c0cade !important;
}
.red-text .mat-radio-button .mat-radio-label .mat-radio-label-content {
  color: #f44336 !important;
}
.red-text .mat-radio-button .mat-radio-label .mat-radio-outer-circle {
  border-color: #f44336 !important;
}
.bg-light-gray {
  background-color: #ccc;
}
.margin-left-30px {
  margin-left: 30px !important;
}
.no-padding-TB {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.panelFine {
  background-color: #2F496E !important;
  cursor: default;
  color: #FFFFFF;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
}
.panelPreBankChallanPeriod {
  background-color: #5EA8A7 !important;
  cursor: default;
  color: #FFFFFF;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
}

.panelBankChallans {
  background-color: #8E9B97 !important;
  cursor: default;
  color: #FFFFFF;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
}

.panelDefaulters {
  background-color: #F9BA32 !important;
  cursor: default;
  color: #FFFFFF;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
}

.main-header .breadcrumb-title .breadcrumb-item:last-child a {
  color: black !important;
}

element.style {
}

.breadcrumb-item{
line-height:0.8 !important;
}
.breadcrumb-arrow .breadcrumb-item + .breadcrumb-item::before{
    content:">";
}
.main-header .breadcrumb-title a {
  color: black !important;
  font-size: 12px !important;
}
.main-header{
    padding:0px !important;
}

.direction-rtl {

direction:rtl !important;
}
.dx-button-mode-text.dx-button-success{
    color:white !important;
}
.full-width-dialog  {
  max-width: 97vw !important;
}
.text-align-center {
text-align:center !important;
}
.employee-self-services-icon-bg {
  background-color: #5bb979 !important;
}

.employee-self-services-icon-label-font-size-large{
    font-size:15px !important;
    color:#FFFFFF !important;
    padding-top:5px !important;
}
.employee-self-services-profile-icon-bg {
  padding: 23px !important;
  background-color: #8d8dcd !important;
  border-radius: 10px;
  height: 125px !important;
}
  .employee-self-services-profile-icon-bg:hover {
    padding: 23px !important;
    background-color: #7171ba !important;
    border-radius: 10px;
    height:125px !important;
  }
.employee-self-services-medical-claim-icon-bg {
  padding: 23px !important;
  background-color: #e8a7d2 !important;
  border-radius: 10px;
  height: 125px !important;
}

  .employee-self-services-medical-claim-icon-bg:hover {
    padding: 23px !important;
    background-color: #d97fbb !important;
    border-radius: 10px;
    height: 125px !important;
  }
.employee-self-services-leaves-icon-bg {
  padding: 23px !important;
  background-color: #91dede !important;
  border-radius: 10px;
  height: 125px !important;
}

  .employee-self-services-leaves-icon-bg:hover {
    padding: 23px !important;
    background-color: #51c0c0 !important;
    border-radius: 10px;
    height: 125px !important;
  }
.employee-self-services-attendance-icon-bg {
  padding: 23px !important;
  background-color: #5bb979 !important;
  border-radius: 10px;
  height: 125px !important;
}

  .employee-self-services-attendance-icon-bg:hover {
    padding: 23px !important;
    background-color: #5bb979 !important;
    border-radius: 10px;
    height: 125px !important;
  }
.employee-self-services-service-desk-icon-bg {
  padding: 23px !important;
  background-color: #e6df6f !important;
  border-radius: 10px;
  height: 125px !important;
}

  .employee-self-services-service-desk-icon-bg:hover {
    padding: 23px !important;
    background-color: #e3d942 !important;
    border-radius: 10px;
    height: 125px !important;
  }
.employee-self-services-travel-icon-bg {
  padding: 23px !important;
  background-color: #c49bd0 !important;
  border-radius: 10px;
  height: 125px !important;
}

  .employee-self-services-travel-icon-bg:hover {
    padding: 23px !important;
    background-color: #b27fc1 !important;
    border-radius: 10px;
    height: 125px !important;
  }
.employee-self-services-service-desk-disabled-icon-bg {
  padding: 23px !important;
  background-color: #BCBABE !important;
  border-radius: 10px;
  pointer-events: none;
  height: 125px !important;
}
.employee-self-services-label {
  text-transform: none !important;
  font-size: 23px !important;
  text-align: -webkit-center !important;
}
.urdu-font-sms-input {
  height: 40px;
  font-size: 20px !important;
}
.hide_Grid_Group_Column {
  display: none !important;
  visibility: hidden !important;
}
.claim-file-input-button {
  box-shadow: none !important;
  background-color: white !important;
  color: #000000 !important;
}
.bg-skyblue {
  background-color: #77b2c7 !important;
}

html, body, p, b, input, button, select, table, tr, td, select, section, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, ul, ol, li {
  font-family: Arial !important;
}
.CustomImageHeightWidth {
  width: 95% !important;
  height: 200px !important;
  border: 1px solid green;
  vertical-align:middle;
  display:inline-block;
}
.cardBorderRound {
  padding: 5px !important;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
}

.employee-self-services-meeting-room-icon-bg {
  padding: 23px !important;
  background-color: #e68c22 !important;
  border-radius: 10px;
  height: 125px !important;
}
/*
.dx-adaptive-item-text {
  white-space: normal;
  word-wrap: break-word;
  flex: 100% !important;
}
.dx-adaptive-detail-row td div div div div div div div {
  flex: auto !important;
}
*/
