
.customRefreshColor {
 color: #4e4588 !important;
}
.dasboardcutomheader {
  color: black !important;
  background-color: white !important;
  border-color: #7e8fbe !important;
  margin-left: 0px;
  margin-right: 0px;
  box-shadow: 0 0 0 0 #9e9c9e !important;
  border-bottom: 5px solid #4F4688 !important;
  font-size: 18px;
  padding: 0px !important;
}
.ins-dashboard-qualified-color {
  background: #e3b500 !important;
  color: white !important;
}
.inspection-d-bg-dark-blue {
  background: #283654 !important;
}
.header-navbar {
  border-bottom: 4px solid #00a651 !important;
}

.navbar-header {
  background-color: #00a651 !important;
}

.navbar-shadow {
  background-color: #00a651 !important;
}

.navbar-container {
  background-color: #206fe4 !important;
}
.main-menu.menu-light .navigation > li.active > a {
  color: #ffffff !important;
}

.main-menu.menu-light .navigation > li.active > a {
  background-color: #206fe4 !important;
}
.main-menu.menu-light .navigation > li.open > a {
  /*background-color: #206fe4 !important;
  color: #ffffff !important*/
}
.theadcustom:first-child > tr:first-child > th {
  color: white;
  background: #00a651;
  padding-top: 5px;
  height: 37px;
}
.table-alternative-even tr:nth-child(even) {
  background-color: #dadada;
}

.table-alternative-odd tr:nth-child(odd) {
  background-color: #dadada;
}
.row-alternative-even :nth-child(even) {
  background-color: #dadada;
}

.row-alternative-odd :nth-child(odd) {
  background-color: #dadada;
}

.theadcustom2:first-child > tr:first-child > th {
  color: white;
  background: #00a651;
  padding-top: 5px;
  height: 37px;
  text-align: center !important;
}

.theadcustom2:first-child > tr > th {
  color: white;
  background: #00a651;
  padding-top: 5px;
  height: 37px;
}
.mat-expansion-panel-header {
  height: 40px !important;
}

.mat-expansion-panel-header-active {
  height: 40px !important;
  background-color: #2196F3 !important;
  font-size: 1.75rem !important;
}
.mat-expansion-panel-body {
  display: initial !important;
  flex-direction: initial !important;
  justify-content: flex-start !important;
}
.mat-expansion-indicator::after {
  color: white !important;
}
.panel-primary > .panel-heading {
  color: white !important;
  background-color: #015eae !important;
  border-color: #015eae !important;
  margin-left: 0px;
  margin-right: 0px;
  box-shadow: 0 0 25px -5px #9e9c9e !important;
  /*-moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);*/
}
.home-page-icon .cim-logo img {
  min-width: 53px !important
}
.tb-bg .active, .tb-bg .active:active, .tb-bg .active:hover, .tb-bg .active:visited, .tb-bg .active::selection, .tb-bg .active::after {
  background: linear-gradient(#f8f8fb 90%, #3c763d 10%)
}
.vertical-scroll{
  max-height:500px !important;
  overflow-x:hidden;
  overflow-y:auto;
}
.unstyled-button {
  border: none;
  padding: 0;
  background: none;
}
.legend-Center {
  text-align: center;
  padding-top:5px !important;
}
.legend-header-color {
  color: #4a0805;
}
.legend-Green {
  background-color: #20c997;
}
.legend-Blue {
  background-color: #1B2942;
}
.legend-light-blue {
  background-color: #659EC7;
}
.small-text-11px {
  font-size: 11px !important;
}
.text-size-18px {
  font-size: 18px !important;
}
.bg-custom-light-purple {
  background-color: #7e8fbe !important;
}
.bg-custom-light-blue {
  background-color: #319bd4 !important;
}
.bg-custom-light-green {
  background-color: #86c43b !important;
}
.label-custom-light-purple {
  background-color: #7e8fbe;
}
.label-custom-light-blue {
  background-color: #319bd4;
}
.label-custom-light-green {
  background-color: #86c43b;
}
.custom-text-color {
  color: #404E67;
}
.custom-text-gray {
  color: #647e85;
}
.label-custom-gray-green {
  background-color: #1a5e78;
}
.label-custom-light-blue {
  background-color: #48a5c2;
}
.label-custom-light-gray {
  background-color: #a2c0cb;
}
.margin-left-18px-ve {
  margin-left: -18px !important;
}
.bg-custom-dark-blue {
  background: #102953;
}
.bg-custom-gray {
  background: #647e85;
}
.btn-primary-2 {
  border-color: #BABFC7 !important;
  background-color: #b3b3cc !important;
  color: black !important;
}
.custom-text-blue {
  color: #1c6cab;
}
.text-size-6rem {
  font-size: 6rem !important
}
.text-size-4rem {
  font-size: 4rem !important
}
.padding-left-3Prct {
    padding-left:3% !important;
}
.text-size-3rem {
  font-size: 3rem !important
}
.text-size-2rem {
  font-size: 2rem !important
}
.list-text-center {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.Custom-center {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
  padding: 5px;
  position: relative;
}
.height-300px {
    height:300px !important;
}
#PositionRelative {
    position:relative !important;
}
.CustomPopup {
  max-height: 85%;
  width: 60%;
  overflow-y: auto;
}

.bg-light-red-custom {
  background-color: #FB909F !important;
}
.bg-light-yellow-custom {
  background-color: #F3F381 !important;
}
.bg-light-blue-custom {
  background-color: #CCF3F6 !important;
}
.custom-text-red {
  color: #f90909 !important;
}
.custom-text-green {
  color: #3fbd0b !important;
}
.custom-popup-width {
  width: 400px !important;
}
.Red-Text {
  color: Red !important;
}
.Bg-text-Orange {
  color: #f5564a;
}
.Bg-text-Green {
  color: #96ec46;
}
.Bg-text-Blue {
  color: #46ddec;
}
.bg-summonwithoutdesealreq {
  background-color: #06b464 !important;
}
.bg-hearing-top {
  background-color: rgb(245,245,245) !important;
}
