.header-navbar {
  border-bottom: 4px solid #00a651 !important;
}

.navbar-header {
  background-color: #00a651 !important;
}

.navbar-shadow {
  background-color: #00a651 !important;
}

.navbar-container {
  background-color: #206fe4 !important;
}

.main-menu.menu-light .navigation > li.active > a {
  color: #ffffff !important;
}

.main-menu.menu-light .navigation > li.active > a {
  background-color: #206fe4 !important;
}

.main-menu.menu-light .navigation > li.open > a {
  /*background-color: #206fe4 !important;
  color: #ffffff !important*/
}

.theadcustom:first-child > tr:first-child > th {
  color: white;
  background: #00a651;
  padding-top: 5px;
  height: 37px;
}

.table-alternative-even tr:nth-child(even) {
  background-color: #dadada;
}

.table-alternative-odd tr:nth-child(odd) {
  background-color: #dadada;
}

.theadcustom2:first-child > tr:first-child > th {
  color: white;
  background: #00a651;
  padding-top: 5px;
  height: 37px;
  text-align: center !important;
}

.theadcustom2:first-child > tr > th {
  color: white;
  background: #00a651;
  padding-top: 5px;
  height: 37px;
}

.mat-expansion-panel-header {
  height: 40px !important;
}

.mat-expansion-panel-header-active {
  height: 40px !important;
  background-color: #2196F3 !important;
  font-size: 1.75rem !important;
}

.mat-expansion-panel-body {
  display: initial !important;
  flex-direction: initial !important;
  justify-content: flex-start !important;
}

.mat-expansion-indicator::after {
  color: white !important;
}

.panel-primary > .panel-heading {
  color: white !important;
  background-color: #015eae !important;
  border-color: #015eae !important;
  margin-left: 0px;
  margin-right: 0px;
  box-shadow: 0 0 25px -5px #9e9c9e !important;
  /*-moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);*/
}

.tb-bg .active, .tb-bg .active:active, .tb-bg .active:hover, .tb-bg .active:visited, .tb-bg .active::selection, .tb-bg .active::after {
  background: linear-gradient(#f8f8fb 90%, #3c763d 10%)
}

.custom-main-header {
  /*border-bottom: 4px solid #00a651;*/
  display: inline-block;
  margin-bottom: 0;
  font-weight: 600;
  border-bottom: 4px solid #00a651;
  /*padding-bottom: 3px;*/
  text-align-last: left;
  /*font-size: x-large;*/
  font-size: 1.32rem;
  line-height: -5px !important;
}


.section-margin-top-ve-40-px{
  margin-top: -20px !important
}

.section-margin-left-ve-100-px {
  margin-left: -10px !important
}
.section-margin-top-ve-15-px{

  margin-top: 90px !important
}

.section-margin-top-ve-60-px {
  margin-top: -90px !important
}

.section-margin-top-ve-20-px {
  margin-top: 20px !important
}

.table-layout-fixed {
  table-layout: fixed;
}

.word-wrap {
  word-wrap: break-word;

}
