<header id="header" class="site-header header-scrolled position-fixed text-black bg-light">
  <nav id="header-nav" class="navbar navbar-expand-lg px-3 mb-3" >
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">
        <img src="../assets/images/logo.png" alt="logo" class="img-fluid mb-3">
      </a>
      <button class="navbar-toggler d-flex d-lg-none order-3 p-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#bdNavbar" aria-controls="bdNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <svg class="navbar-icon">
          <use xlink:href="#navbar-icon"></use>
        </svg>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="bdNavbar" aria-labelledby="bdNavbarOffcanvasLabel">
        <div class="offcanvas-header px-4 pb-0">
          <a class="navbar-brand" routerLink="/">
            <img src="../assets/images/logo.png" alt="logo" class="img-fluid mb-3">
          </a>
          <button type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas" aria-label="Close" data-bs-target="#bdNavbar"></button>
        </div>
        <div class="offcanvas-body">
          <ul id="navbar" class="navbar-nav text-uppercase justify-content-end align-items-center flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link me-4 active" href="#billboard" (click)="scrollTo('billboard')">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link me-4" href="#accessories" (click)="scrollTo('accessories')">Accessories</a>
            </li>
            <li class="nav-item">
              <a class="nav-link me-4" href="#laptops" (click)="scrollTo('laptops')">Laptops</a>
            </li>
            <li class="nav-item">
              <a class="nav-link me-4" href="#lcds" (click)="scrollTo('lcds')">LCDs</a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link me-4 dropdown-toggle link-dark" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Pages</a>
              <ul class="dropdown-menu">
                <li><a href="about.html" class="dropdown-item">About</a></li>
               
                <li><a href="/cart" class="dropdown-item">Cart</a></li>
                <li><a href="/cart" class="dropdown-item">Checkout</a></li>
                <li><a href="tel:+923104717221" class="dropdown-item" style="text-decoration: none; ">Contact</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <div class="user-items ps-5">
                <ul class="d-flex justify-content-end list-unstyled">
                  <li class="search-item pe-3">
                    <a href="#" class="search-button">
                      <svg class="search">
                        <use xlink:href="#search"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="pe-3">
                    <a [routerLink]="['/login']">
                      <svg class="user">
                        <use xlink:href="#user"></use>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a (click)="openCart()" [routerLink]="['/cart']">
                      <svg class="cart">
                        <use xlink:href="#cart"></use>
                      </svg>
                      <span class="cart-count">{{ cartItemCount }}</span>
                    </a>
                  </li>

                  <!-- Conditionally display the cart popup -->
                  <app-cart *ngIf="showCart" (close)="closeCart()"></app-cart>

                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>

