<div class="dashboard">
  <div class="sidebar">
    <div class="p-3 header">
      <a routerLink='home'>
        <img src="../../assets/images/logo.png" alt="Logo" class="logo">
      </a>
      <h3 class="sidebar-title">Admin Panel</h3>
    </div>
    <div class="menu-container">
      <div class="menu">
        <i class=" fa-solid fa-chart-line"> </i> Dashboard
      </div>
      <div routerLink="orders" class="menu">
        <i class="fa-solid fa-bag-shopping"></i> Orders
      </div>
      <div routerLink="admin-dashboard" class="menu">
        <i class="fa-solid fa-list-check"></i> Add Products
      </div>

    </div>
    <div routerLink="logout" class="menu logout">
      <i class="fa-solid fa-arrow-right-to-bracket"></i> Logout
    </div>
  </div>
  <div class="main">
    <router-outlet></router-outlet>
  </div>
</div>
