* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #2b2b2b;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

h2 {
  text-align: left;
  font-weight: bold;
}

.name{

  text-align: left;
  font-weight: bold;

}

.login-container {
  display: flex;
  width: 100%;
  max-width: 800px; /* Adjust the max width as needed */
  height: 400px; /* Adjust height as needed */
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

}

.image-container {
  flex: 1;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

  .image-container img {
    max-width: 100%;
    height: auto;
  }

.form-container {
  flex: 1;
  padding: 20px;
  color: black;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  font-size: 20px; /* Smaller font size */
  margin-bottom: 15px;
}

.input-group {
  margin-bottom: 15px;
}

  .input-group label {
    display: block;
    font-size: 12px; /* Smaller font size */
    margin-bottom: 5px;
  }

  .input-group input {
    width: 100%;
    padding: 8px; /* Reduced padding */
    border: 1px solid #ccc; /* Added border for simplicity */
    border-radius: 4px; /* Smaller border-radius */
    background-color: white;
    color: black;
  }

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

  .options label {
    font-size: 12px; /* Smaller font size */
  }

.login-btn {
  width: 100%;
  padding: 10px; /* Reduced padding */
  border: none;
  border-radius: 4px; /* Smaller border-radius */
  background-color: #007bff;
  color: #fff;
  font-size: 14px; /* Smaller font size */
  cursor: pointer;
  transition: background-color 0.3s;
}

  .login-btn:hover {
    background-color: #0056b3;
  }

.register-text {
  text-align: center;
  color: #ccc;
}

  .register-text a {
    color: #e74c3c;
    text-decoration: none;
  }

    .register-text a:hover {
      text-decoration: underline;
    }
